# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
obj/
UnityGenerated/
Library/
Assets/Assets/*
*.idea
*.vs
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.apk

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
~$*
Assets/StreamingAssets/AssetBundleMD5.bytes.meta
Assets/StreamingAssets/AssetBundleMD5.bytes
Assets/Resources/ApplicationVersion.asset
Assets/Resources/ApplicationVersion.asset.meta
Assets/StreamingAssets/AssetBundles.meta
Assets/AssetBundles.meta
.vs/*
UpgradeLog.htm
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs.meta
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
.idea/*
Assets/StreamingAssets.meta
/Assets/StreamingAssets
/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset.meta
/Framework_Data
/MonoBleedingEdge
/build/build32
/build/build64
.vsconfig
.vscode
obj/Debug/
UserSettings/
Logs/
BuildPackage/
outpackage/
Assets/TempTexture/
Assets/TempTexture.meta

